 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Kitz aims to make your development life a bit easier by reducing the boilerplate code you have to write. Just focus on building amazing new features!</p>
                </div>
                <div class="col-lg-4">
                    <p>All Kitz are shipped with released apps. They also have full test coverage, minimal dependencies, and are collaboration friendly!</p>
                </div>
            </div>
        </div>
    </section>