
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Available Kitz</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <div style="text-align: center; width: 360px; height: 260px; background-color: rgba(255, 133, 0, 0.05)">
                                <span style="font-size: 7em">{{ post.icon }}</span><br/>
                                <span style="font-size: 3em">{{ post.title }}</span>
                            </div>
                            <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">-->
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>